# [REQUIRED] Add your Apify Token to execute the proxy pipeline correctly.
# You can generate this securely from the Apify Console.
APIFY_API_TOKEN=

# [OPTIONAL] Set this safely to "true" to skip scraping payloads and use local Demo Data.
USE_MOCK_DATA=false
